body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://graphicriver.img.customer.envatousercontent.com/files/86232890/Calculator%20a%20background590.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=c0882fa83dab39e4597f4d2f55bd9642);
}

#outline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

#tips {
    width: 80%;
    max-width: 500px;
    min-width: 150px;
    min-height: 600px;
    display: flex;
    align-items: center;
    

}

.label {
    align-self: flex-start;
    padding-left: 15%;
    font-family: 'Work Sans';
    font-size: 100%;
    font-weight: 600;
    color: #000000;
}

input[type=text] {
    border: 5px solid #33A6FF;
    width: 70%;
    padding: 10px 15px;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 25px;

}


.button {
    background-color: #C0C0C0; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Work Sans';
    text-decoration-color: white;
    box-shadow: 0 9px rgb(77, 77, 77);
    border-radius: 5px;
    color: black;
    font-size: 20px;

}

.button:active {
    box-shadow: 0 5px black;
    background-color: #33A6FF;
  transform: translateY(4px);
  }
  
